# Ignore bundler config.
/.bundle

#sensitivity training
.env.production


# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.env

# Test coverage
coverage/


#Os things
.DS_Store
