<h1>Blog Roll</h1>

<% @blogs.each do |b| %>
<div class="row">
	<div class="col-lg-4">
		<%= b[:title] %>
	</div>
	<div class="col-lg-8">
		<a class="btn" href="<%= b[:entry_uri] %>">Read more at <%= b[:blog_title] %> &raquo;</a>
	</div>
</div>
<% end%>
