// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.col-techlahoma-blog {
	height: 120px;
}
.col-techlahoma-blog a {
	position: absolute;
	bottom: 0;
	right: 0;
}