.col-techlahoma-group {
	border: 1px solid gainsboro;
	margin: 2px;
}
.col-techlahoma-group:hover {
	background-color: whitesmoke;
}
.col-techlahoma-group a {
	padding-top: 5px;
	padding-left: 5px;
}
.blurb {
	padding: 5px 0;
	display: block;
}