<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="../" class="navbar-brand">Techlahoma</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li>
					<a href="/buzz">Blogs</a>
				</li>
				<li>
					<a href="/groups">User Groups</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li>
					<% if current_user %>
					  Welcome <%= current_user.name %>!
					  <%= link_to "Sign Out", signout_path %>
					<% else %>
					  <%= link_to "Sign In", signin_path %>
					<% end %>
				</li>
			</ul>
		</div>
	</div>
</div>
