<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="../" class="navbar-brand">Techlahoma</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				<li>
					<a href="/buzz">Blogs</a>
				</li>
				<li>
					<a href="/groups">User Groups</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<% if current_user %>
					<li class="dropdown">
		              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="signin"> <%= current_user.name %> <span class="caret"></span></a>
		              <ul class="dropdown-menu" aria-labelledby="signin">
		                <li><%= link_to "Profile", profile_path %></li>
		                <li><%= link_to "Sign Out", signout_path %></li>
		              </ul>
		            </li>
				<% else %>
					<li><%= link_to "Sign In", signin_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
